.Results img {
  height: 10em;
}

.Results .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto 1rem auto;
  align-items: center;
  max-width: 50rem;
}

.Results .grid-item {
  margin-bottom: 1rem;
}

.Results .guess-text {
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: left;
}

.Results .guess-text.correct {
  /* Material Green 700. */
  color: #388E3C;
}

.Results .guess-text.incorrect {
  /* Material Red 700. */
  color: #D32F2F;
}
