.Results {
  display: flex;
  flex-direction: column;
}

.Results img {
  height: 10em;
}

.Results .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 auto 2rem auto;
  align-items: center;
  max-width: 55rem;
}

.Results .grid-item {
}

.Results .guess-text {
  margin-left: 1rem;
  font-size: 1.6rem;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}

.Results .guess-text.correct {
  /* Material Green 700. */
  color: #388E3C;
}

.Results .guess-text.incorrect {
  /* Material Red 700. */
  color: #D32F2F;
}

.Results button {
  margin: auto;
}
